<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <appSettings>
        <!-- WPF는 괜찮았는데, WinForm에서 밑의 옵션값을 true로 지정하면 깨지는 현상이 나타난다. -->
        <!--<add key="EnableWindowsFormsHighDpiAutoResizing" value="true" /> -->
    </appSettings>
</configuration>
