<div class="page-header">
    <h1> Update Subtitles &nbsp; <small>Admin can update defualt subtitle for a episode</small></h1>
</div>
<div class="container-fluid">
  <div class="row seven-cols">
    <div class="col-md-1" ng-repeat="day in days" ng-init="animations = getDayAni(day)" ng-if="day !='Fin'">
        <div class="panel panel-info">
            <div class="panel-heading"><h5>{{ day }}</h5></div>
            <div class="panel-body">
                <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default" is-open="status.open" ng-repeat="animation in animations">
                        <uib-accordion-heading>
                             <h5>{{animation.title}} &nbsp; <span class="label label-info">{{ animation.episodes.length }}</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></h5>
                        </uib-accordion-heading>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="episode in animation.episodes | orderBy: '-number'">
                                <h4> Episode <span class="label label-success"> {{ episode.number }}</span></h4>
                                <div class="drop-box" ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'.vtt'" ngf-pattern="'.vtt'" ngf-drop="upload(animation.title, episode.number, $file)" ngf-drag-over-class="'dragover'" ngf-select = "upload(animation.title, episode.number, $file)">Drap &amp; Drop a '.vtt' subtitle </div>
                            </li>
                        </ul>
                    </div>
                </uib-accordion>
            </div>
        </div>
    </div>
  </div>
</div>
<div ng-init="animations = getDayAni('Fin')">
    <div class="panel panel-info">
        <div class="panel-heading"> <h5> Fin </h5> </div>
        <div class="panel-body">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" is-open="status.open" ng-repeat="animation in animations">
                    <uib-accordion-heading>
                        {{animation.title}} &nbsp; <span class="label label-info">{{ animation.episodes.length }}</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </uib-accordion-heading>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="episode in animation.episodes | orderBy: '-number'">
                            <h4> {{ animation.title }} - Episode <span class="label label-success"> {{ episode.number }}</span></h4>
                            <div class="drop-box" ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'.vtt'" ngf-pattern="'.vtt'" ngf-drop="upload(animation.title, episode.number, $file)" ngf-drag-over-class="'dragover'" ngf-select="upload(animation.title, episode.number, $file)">Drap &amp; Drop a '.vtt' subtitle </div>
                        </li>
                    </ul>
                </div>
            </uib-accordion>
        </div>
    </div>
</div>
